.events {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events-banner {
    display: block;
    width: 10%;
    padding: 1rem;
    margin: 0 auto;
    color: var(--color-primary);
    border: 3px solid var(--color-primary);
    border-radius: 10px;
}
.events-artist-name {
    margin: 5rem 0;
    font-size: 3.5rem;
    color:  var(--color-dark);
    text-align: center;
}
.events-artist-name span {
    display: block;
    color: var(--color-primary);
}
.events-table {
    width: 60%;
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-light);
    border-collapse: separate;
    border-spacing: 0 2rem;
}
.events-table tr {
    margin-bottom: 1rem;
    border-radius: 15px;
    
}
.events-table th,
.events-table td {
    padding: 0.5rem 1rem;
}
.events-table th {
    color: var(--color-dark);
    text-align: start;
}
.events-table td {
    background-color: var(--color-primary);
}
.events-table td:first-child {
    padding-left: 2rem;
    border-radius: 10px 0 0 10px;
}
.events-table td:last-child {
    border-radius: 0 10px 10px 0;
}
.events-table-badge {
    width: 3rem;
    background-color: var(--color-light);
    border-radius: 15px;
}
.events-table-badge:hover {
    background-color: var(--color-primary);
    transition: .4s;
}
.events-no-events {
    margin-top: 15rem;
}
.events-checked {
    margin-top: 3rem;
    color: orangered;
}
